{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<main>
      <section>
        <div class="box-1">
          <div class="box-1-part">
            <div class="box-1-p">
              <img src={{asset "images/main-site/aave.png"}} alt="" />
              <div>
                <h1 class="box-1-heading">defi masterclass</h1>
                <p class="box-1-para">your guide to web3 defi</p>
              </div>
            </div>
          </div>
        </div>

        <div class="box-2">
          <div class="box-2-part">
            <div class="img-cont"><img src={{asset "images/main-site/IMG_0039.png"}} alt="" /></div>
            <button class="box-2-btn">Book an appointment</button>
          </div>
          <div class="box-2-part">
            <div class="img-cont"><img src={{asset "images/main-site/IMG_0040.png"}} alt="" /></div>
            <button class="box-2-btn">Sign up for our course</button>
          </div>
          <div class="box-2-part b">
            <div class="img-cont"><img src={{asset "images/main-site/IMG_0041.png"}} alt="" /></div>
            <button class="box-2-btn">Subscribe to my youtube channel</button>
          </div>
        </div>
      </section>

      <section>
        <div class="box-3">
          <h1 class="box-3-heading heading">this week in defi masterClass</h1>
          <div class="box-3-part cards">
            {{#get "posts" limit="2" filter="tags:[new]" as |new_posts| }}
              {{#foreach new_posts}}
                <a href="{{url}}" target="_blank" rel="noopener noreferrer">
                  <div class="cards__item">
                    <div class="box-3-card">
                      <img
                        src={{img_url feature_image}}
                        alt=""
                      />
                      <h2>{{title}}</h2>
                      <p>
                        {{excerpt}}
                        {{!-- <span>read-more</span> --}}
                      </p>
                    </div>
                  </div>
                </a>
              {{/foreach}}
            {{/get}}         
            </div>
          </div>
        </div>
      </section>
      <section>
        <div class="box-7">
          <h1>Download the crypto investment guide e-book</h1>
          <div class="box-7-part">
            <form action="">
              <input placeholder="Youremail@example.com" type="email" />
              <button class="box-2-btn btn2">Get Now</button>
            </form>
          </div>
        </div>
      </section>

      <section>
        <div class="box-5">
          <h1>Best Defi Guides</h1>
          <div class="box-5-part">
            <div class="box-5-part-1">
              <a href="/aave">
                <div class="box-5-inside option-box">
                  <img src={{asset "images/aave.svg"}} alt="" />
                  <h2>Aave Guides And Reports</h2>
                </div>
              </a>
              <a href="/abracadabra">
                <div class="box-5-inside option-box">
                  <img src={{asset "images/Wizard.png"}} class="sp-img" alt="" />
                  <h2>Best of Abracadabra Money</h2>
                </div>
              </a>
            </div>
            <div class="box-5-part-1">
              <a href="/uniswap">
                <div class="box-5-inside option-box">
                  <img src={{asset "images/uniswap.svg"}} alt="" />
                  <h2>Uniswap V2 Full Guide</h2>
                </div>
              </a>
              <a href="/wonderland">
                <div class="box-5-inside option-box">
                  <img src={{asset "images/Wonderland.png"}} class="sp-img" alt="" />
                  <h2>Wonderland.Money $TIME</h2>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>

      <section>
        <div class="box-6">
          <h1>Trending Videos</h1>
          <div class="box-6-part">
            <div class="box-6-b">
              <iframe
                 width="400"
                height="222"
                src="https://www.youtube.com/embed/wkxeKaiVdnM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="box-6-b">
              <iframe
                 width="400"
                height="222"
                src="https://www.youtube.com/embed/wkxeKaiVdnM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="box-6-b">
              <iframe
                width="400"
                height="222"
                src="https://www.youtube.com/embed/wkxeKaiVdnM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="box-6-b">
              <iframe
                width="400"
                height="222"
                src="https://www.youtube.com/embed/wkxeKaiVdnM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="box-6-b">
              <iframe
                 width="400"
                height="222"
                src="https://www.youtube.com/embed/wkxeKaiVdnM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div class="box-6-b">
              <iframe
                 width="400"
                height="222"
                src="https://www.youtube.com/embed/wkxeKaiVdnM"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>
      </section>
</main>   


